.home-background {
  position:relative;
}

.home-logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.home-wrapper {
  background-color: $dark;
  width: 100%;
  height: 100vh;
  position:absolute;
}
.home-description {
  color: white !important;
  width: 318px;
}

.home-description p {
  margin: 10px -40px 0 26px;
  margin: 10px 0 0px 23px;
  font-size: 24px;
}

.button-home {
  position: relative;
  display: flex;
  justify-content: center;
}

.button-home a {
  vertical-align: text-top;
  margin-left: -23px;
  display: flex !important;
  align-items: center !important;
}

#custom-btn-home {
  line-height: 27px !important;
  width: 178px;
  margin-top: 9px !important;
  }

.fa-check-circle {
  font-size: 20px;
  position: absolute;
  bottom: 12px;
  right: 13px;
}

.home-markers-row {
  display: flex;
  justify-content: center;
}

.home-markers-container {
  margin: 0 25px 0 25px;
}

.home-markers-content {
  text-align: center;
  color: white !important;
  min-width: 90px;
  padding: 8px 10px 5px 10px;
}

.home-markers-content p {
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

