.home-background {
  position:relative;
}

.home-background img {
  max-height: 667px;
}

.home-backgroung-img::after {
  display: block;
  position: relative;
  background-color: $gray;
  background: rgba(61, 61, 61, 0.49);
  margin-top: -667px;
  height: 667px;
  width: 100%;
  content: '';
}


.home-logo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.home-wrapper {
  background-color: $dark;
  width: 353px;
  height: 647px;
  background: rgba(31, 32, 65, 0.93);
  border-radius: 15px 15px 0px 0px;
  position:absolute;
  left: 11px;
  top: 21px;
}
.home-description {
  color: white !important;
  width: 318px;
}

.home-description ul {
  list-style: none;
}

.home-description li {
  display: flex;
  align-items: center;
}

.home-description h2 {
  font-size: 55px !important;
}

.home-description p {
  padding-top: 32px;
  padding-left: 16px;
}

.home-description p:last-child {
  padding-top: 21px !important;
}

.button-home {
  position: relative;
  display: flex;
  justify-content: center;
}

.button-home a {
  vertical-align: text-top;
  margin-left: -23px;
  display: flex !important;
  align-items: center !important;
}

#custom-btn-home {
  line-height: 27px !important;
  width: 178px;
  margin-top: 9px !important;
  }

.fa-check-circle {
  font-size: 20px;
  position: absolute;
  bottom: 12px;
  right: 13px;
}
