<div class="home-background">
  <div class="home-backgroung-img">
  <%= image_tag 'map.png', width: 375 %>
  </div>
  <div class="home-wrapper">
    <div class="home-logo">
      <%= image_tag 'logo2.png', width: 130 %>
    </div>
    <div class="home-description">
      <ul>
        <li>
          <h2>1</h2>
          <p><strong>Informer</strong> sur les lieux éco-responsables : points de collecte, commerces éthiques et évènements...</p>
        </li>
        <li>
          <h2>2</h2>
          <p><strong>Promouvoir</strong> les initiatives écologiques, locales et solidaires.</p>
        </li>
        <li>
          <h2>3</h2>
          <p><strong>Répertorier</strong> sur une carte unique tous les lieux dans Paris qui répondent à une problématique environnementale.</p>
        </li>
        <li>
          <h2>4</h2>
          <p><strong>Inciter</strong> à consommer autrement.</p>
        </li>
      </ul>
    </div>
    <div class="button button-home" id="custom-btn-home">
      <%= link_to 'ok! j\'ai compris', locations_path %>
      <i class="fas fa-check-circle"></i>
    </div>
  </div>
</div>
