.banner {
  background-color: $dark;
  color: white;
  text-align: center;
  position: relative;
}
.banner h1 {
  margin-top: 0px !important;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner h2 {
  margin-top: -9px !important;
  font-size: 21px !important;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 30px;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  z-index: 0;
}

#map {
  height: 100vh;
}

.mapboxgl-ctrl.mapboxgl-ctrl-group {
  position: absolute !important;
  top: -9999px;
  left: -9999px;
  }

.mapboxgl-show-button-after-address-search {
  position: absolute !important;
  top: 20px !important;
  left: 67px !important;

  }

.mapboxgl-ctrl-geocoder {
  min-width: 190px !important;
}

.mapboxgl-ctrl-top-right {
  right: 120px !important;
}

.banner-top {
  display: flex;
  justify-content: space-between;
  padding: 12px 15px 15px 15px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
    margin: 0px 10px 0 0;
    float: right;
}

.mapboxgl-ctrl-geocoder input[type='text'] {
    font-size: 16px;
  }

#search-bar {
  margin-bottom: -39px;
  margin-top: -14px;
  width: 316px;
  margin-right: auto;
  margin-left: auto;
}

#filter-inner-img {
  padding-top: 6px;
  margin-left: 5px;
}

.fas.fa-chevron-circle-up {
  color: $green;
  font-size: 24px;
  margin-top: 29px;
  margin-bottom: 5px;
}

.banner-reduce-height {
  height: 64px;
}

.reduce-margin-top {
  margin-top: 0px;
}

.update-arrow-reduced-banner {
   margin-bottom: 5px;
   position: absolute;
   left: 50%;
   right: 50%;
   top: 50%;
   transform: rotate(180deg);
   margin-top: -9px !important;
}




