.button {
  background: $green;
  border-radius: 22px;
  height: 44px;
  width: fit-content;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.button a {
  color: white;
  text-transform: uppercase;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 20px;
}

.button a:hover {
  color: white!important;
}

.button:hover {
  opacity: 0.8;
}

.button-connexion {
  background: #219653;
  border-radius: 22px;
  width: 130px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  margin-bottom: 12px;
  margin-right: -10px;
}

.button-connexion a {
  color: white;
  text-transform: uppercase;
  line-height: 38px;
}

.button-connexion a:hover {
  color: white!important;
}

.button-connexion:hover {
  opacity: 0.8;
}

.filter {
  background-color: $green;
  border-radius: 50%;
  // margin-left: 260px;
  // margin-top: -87px;
  width: 70px;
  height: 70px;
  padding: 14px;
  z-index: 300;
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 11px 22px #888888;
}
