.button {
  background: #6FCF97;
  border-radius: 22px;
  height: 44px;
  width: fit-content;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.button a {
  color: white;
  text-transform: uppercase;
  line-height: 38px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter {
  background-color: $green;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 14px;
  z-index: 300;
  position: absolute;
  top: 290%;
  right: 40%;
  box-shadow: 1px 11px 22px #888888;
}
