.button {
  background: #6FCF97;
  border-radius: 22px;
  height: 44px;
  width: fit-content;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
}

.button a {
  color: white;
  text-transform: uppercase;
}
