.category-choices {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.modal-body-filter {
  margin-top: -25px;
}

.category-choice {
  color: white;
}

.select-category:first-of-type > input + .category-choice {
  background-color: $dark!important;
  border-radius: 5px;
  width: 305px;
}

.select-category > input + .category-choice {
  opacity: .4;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  min-width: 150px;
  margin-right: 5px;
  background: $green;
  margin: 4px;
  opacity: .4;
}

.select-category > input:checked + .category-choice {
  opacity: 1;
}

label.category-choice {
  margin-left: 0px !important;
}

.modal-title {
  font-family: $headers-font;
  font-size: 22px;
}

.modal-header {
  padding: 15px 15px 8px 15px;
}

#search_categories_toutes catégories {
  background: red!important;
}

// .form-check {
//   border-bottom: 1px solid #e5e5e5;
//   margin-top: 14px;
//   height: 41px;
//   position: relative;

// }

// .form-check-input {
//   position: absolute;
//   right: 20px;
// }

// .collection_check_boxes {
//   margin-left: 10px;
//   font-weight: lighter;
//   margin-bottom: 30px;
// }

// .modal-body-filter {
//   height: 385px;
//   padding: 0px 15px 0px 15px;
// }

.modal-content {
  position: relative;
}

.close-filter{
  position: absolute;
  top: -4px;
  right: 16px;
  font-size: 30px;
  font-weight: 700 !important;
  transform: rotate(0deg);
  width: 20px;
  height: 20px;
  margin: 0 0;
  color: white;
  background-color: none !important;
}

#go-button {
  position: absolute;
  bottom: -24px;
  right: 16px;
  width: 60px;
  padding-left: 18px !important;
}

#close-modal {
  position: absolute;
  bottom: 36px;
  left: 14px;
  background-color: #d1cccc !important;
  color: black;
  font-weight: lighter !important;
  width: 100px;
}

.modal-footer {
  margin-top: 35px !important;
  padding-top: 9px !important;
}

.select-category > input + .category-choice:first-child{
  color:red!important;
  margin-left:40px!important;
 }


