.description_text{
  text-align: center;
  margin: -10px 0px 50px 0px;
}

.description_text h3 {
  padding-bottom: 0px;
}

.description_text p {
  color: #7c7b7b;
}

hr {
  border-top: 1px solid $light-gray;
}

.geoloc {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}
