.description_text{
  text-align: center;
  margin: -10px 0px 50px 0px;
}

.description_text h3 {
  padding-bottom: 0px;
}

.description_text p {
  color: #7c7b7b;
  font-size: 17px;
}

.profile-links p{
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.top {
  padding-top: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
