.review-user-content{
  display: flex;
}

.review-rating-name  {
  margin-left: 20px;
}

.p_name {
  margin-bottom: 2px;
  margin-top: 2px;
  font-size: 15px;
}

#card_review {
  margin-bottom: 7px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e5e5e5;
}

.p_comment{
  margin: 0 0 7px !important;
  font-size: 18px;
}

#autres-commentaires{
  font-size: 20px;
  margin-bottom: 19px;
  border-top: 1px solid #e5e5e5;
  padding-top: 8px;
}

#submit-review-button {
  position: absolute;
  top: 93px;
  right: -8px;
  width: 133px;
}
